# =====================
# Editor / OS（全域）
# =====================
.DS_Store
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
desktop.ini

# =====================
# 根目錄雜項
# =====================
callisto_codebase.txt
write.py
